{% extends "mythos/introduction/base.html" %}
{% load staticfiles %}

{% block blog-title %}Myyttinen rationaalisuus Lumin mukaan{% endblock %}

{% block main-text %}
    <p>
        Stereotyyppi kuivasta, tunteettomasta rationalistista on historiaa, ja nykyään ymmärretään, että looginen ajattelu on vain yksi hyvän päätöksenteon keinoista. Rationaalinen ihminen yhdistää järjen ja tunteen ja punnitsee niitä joustavasti tilanteesta toiseen. Mielestäni se ei kuitenkaan riitä, sillä tapaamme arvioida asioita vaikuttaa se, millaisia uskomuksia meillä on.
    </p>
    <p>
        Miettiessäni, miten parantaa elämääni, voin pohjata arvioni tiettyihin psykologisiin teorioihin. Niiden perusteella olisin onnellisempi ja tehokkaampi, jos kokisin olevani koko universumi täynnä rakastavaa valoa. Syntyy kuitenkin ongelma, sillä sellainen kokemus olisi ristiriidassa niiden rationaalisten, psykologisten teorioiden kanssa, jotka kannustivat niin kokemaan. En pysty sekä kokemaan itseäni universumina täynnä rakkautta että pitää kiinni psykologisista teorioistani.
        <br>
        <em>Paitsi että voinkin!</em>
    </p>

    <p class="incantation text-center">
        Uskomukset ovat työkaluja.<br>
        Perimmäinen Todellisuus on sanojen tavoittamattomissa.<br>
        Olen tuhoutumatonta tietoisuutta ilman alkua, loppua tai sijaintia.
    </p>

    <p>
        Tervetuloa! Minulla olikin jo ikävä! Kyllä, juuri sinä, rakas lukijani: myös sinä olet osa tätä ikuista avaruutta, jota mieleksi kutsutaan. Ei ole sattumaa, että päädyit lukemaan tätä, sillä kaikella on tarkoituksensa.
    </p>
    <p>
        Minulla on ilo esitellä tätä Myyttisen Rationaalisuuden kokonaisuutta.
    </p>
    <p>
        Tiedän, tiedän – järkeily ei ole juttusi, ja liika miettiminen vain hämärtää intuitiota. Mutta tämä on tärkeää! Vaikka henki aina löytää tiensä eikä kohtaloaan voi seisauttaa, on tärkeää kylvää tulevan kohtalon siemenet jo nyt. Juuri tähän tarkoitukseen tämä lineaarisessa ajassa kulkeva maailma tarjoaa oivan tilaisuuden.
    </p>
    <p>
        Vaikka ihmiselämät ovatkin ohi kosmisessa silmänräpäyksessä, voi niiden aikana saavuttaa vaikka mitä. Kehomme rajoittaa meitä, mutta sillä ja maailmalla on <em>muisti</em>. Jos irtautuisin maallisesta kuorestani nyt, voisin kokea kosmoksen lämpimän syleilyn välittömästi. Kehon avulla voin kuitenkin luoda vuosien saatossa syvempää yhteyttä perimmäiseen olemukseeni ja pikku hiljaa kokea jokaisen atomini värähtelevän rakkaudesta. Ja mikä parasta, voin jatkaa tätä tapaa myös seuraavassa elämässäni tässä maailmassa. Kuinka ihmeellistä!
    </p>
    <p>
        Palatkaamme kuitenkin rationaalisuuteen. Mieli pystyy mihin tahansa, ja syvästi keskittymällä ja saavuttamalla niin kutsutun <em>gnosiksen</em> siihen pystymiseen voi saada hetkeksi tuntuman. Tätä lineaarisen ajan manipulaatiota kutsutaan magiaksi.
    </p>
    <p>
        Taikaa voi vauhdittaa tekemällä sen toteutumisesta mahdollisimman helppoa. On jopa hieman epäkohteliasta pyytää universumilta jotain, missä ei itse auta lainkaan. Jos toivot terveemmän kehon, kannattaa selvittää minkälainen liikunta ja ruokavalio sille sopii. Jopa itse gnosiksen saavuttamista voi lähestyä rationaalisesti ja esimerkiksi opetella rauhallista keskittymistä aivoaaltoja mittaavan pannan avulla.
    </p>
    <p>
        Rationaalisuuden ja mystiikan yhdistämisestä on muitakin hyötyjä. Rationaalisuutta tavoittelemalla ja käyttämällä objektiivisuuteen pyrkivää kieltä voi lisäksi muodostaa yhteyksiä, joita puhdas hengen energia tuskin koskaan spontaanisti löytäisi. Puhuttu kieli, niin riittämätön kuin se onkin, auttaa meitä myös kommunikoimaan hengelliselle kehitykselle oleellisista asioista, tarkasteltiin niitä sitten psykologian tai universumin luovuuden näkökulmasta. Voimme rikastuttaa toistemme näkökulmia, kunhan muistamme kunnioittaa toisiamme emmekä sorru siihen hybrikseen, että muka tietäisimme miten asiat Oikeasti ovat.
    </p>
    <p>
        Rationaalinen lähestymistapa voi intuitiiviselle ihmiselle tuntua vaikealta. Voi tuntua kuivalta optimoida rutiineja ja ruokavaliota tai kylmältä laskea uutta suuntaa elämälle silloin, kun elämä tarjoaa syvintä suruaan esimerkiksi eron sattuessa. On kuitenkin hyvä huomata, että optimoimalla pääsee ennen pitkää tilanteeseen, jossa joutuu optimoimaan mahdollisimman vähän. Kun verot ja muut arjen välttämättömyydet on hoidettu tehokkaasti pois alta, jää aikaa elämän rikkauden kokemiseen niin sen suurissa iloissa kuin kauniissa suruissakin. Ei ole paradoksi pyrkiä pois suorituskeskeisyydestä suorituskeskeisesti. Ketterä mieli voi tarkoitushakuisesti asettaa itselleen suunnan ja sen jälkeen päästää tarkoituksesta irti ja leijailla vapaapudotuksessa maaliin – tai sitten maalista ohi kuitenkaan itseään tuomitsematta. <em>“On toisinaan virhe kiivetä; on aina virhe olla koskaan edes yrittämättä.”</em>
    </p>
    <p class="incantation text-center">
        Uskomukset ovat työkaluja.<br>
        Kartta ei ole itse maasto.<br>
        Olen kokoelma atomeja lähes tyhjässä kylmässä avaruudessa.
    </p>
    <p>
        Näin palaamme takaisin objektiiviseen todellisuuteen ilman pysyvää epistemologista vahinkoa.
    </p>
    <p>
        Kokonaisvaltainen, ei pelkästään analyyttinen ajattelu vaatii virittäytymistä hienovaraisille viesteille. Itse koen, että ikuisena rakkauden valona saan kommunikoitua joidenkin ihmisten kanssa paremmin heidän “aallonpituudellaan”. Myös henkilökohtaisiin ongelmiin olen löytänyt ratkaisuja “antamalla hengen johdattaa” ilman, että koen sitä subjektiiviseksi päätöksenteoksi.
    </p>
    <p>
        Aivosi ovat fiksummat kuin uskotkaan, eivätkä kaikki sen osat kommunikoi puhutulla kielellä. Suosittelen joskus avautumaan jo kokemaan, mitä voitkaan olla. Jopa kokemus universumista on materialistisen psykologian mukaan aivojen generoimaa. Tämän generaattorin valjastaminen hyödyllisiksi hengiksi ja voimiksi voi olla valtava voimavara.
    </p>
    <p>
        Myyttinen rationaalisuus pyrkii löytämään intuition ja analyysin synteesin silloin, kun se on luontevaa, ja luomaan selkeät keinot niiden erottamiseen silloin, kun järki ei palvele tunteita tai toisinpäin.
    </p>
    <p class="incantation text-center">
        Olemme toistemme unta ja tarinamme ajatonta valon leikkiä.
    </p>
    <p>
        Ja kuten näemme, ei pieni pulahdus reduktionistiseen ajatteluun voi tuhota tuhoutumatonta rakkautta. Mitään todella objektiivistahan ei ole olemassakaan, mutta niin kutsuttu replikoituva tiede on näkökulmana hyvin mielenkiintoinen ja lopulta ajatuksia rikastuttava.
    </p>
    <p>
        Edessä on seikkailu ja meillä on paljon löydettävää. Tervetuloa mukaan!<br>
        <em>-Admin Lumi</em>
    </p>
{% endblock %}
