{% load staticfiles %}
<!doctype html>
<html lang="fi">
    <head>
        <!-- Bootstrap required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="google-site-verification" content="xA--Rda1Wb4WwB6GcwF3dYI7K3dPDTQTD2oZSWmSxdw" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        {% block extra-css %}
        {% endblock %}

        <script 
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous">
        </script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block extra-js %}
        {% endblock %}

        <title>{% block title %}Myyttinen rationaalisuus{% endblock %}</title>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
