{% extends "mythos/base.html" %}
{% load staticfiles %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mythos/css/cover.css' %}?v=2018-06-10" />
{% endblock %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Mythra</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="{% url 'index' %}">Etusivu</a>
                    <a class="nav-link" href="{% url 'introduction-index' %}">Johdannot</a>
                    <a class="nav-link" href="{% url 'contact' %}">Yhteystiedot</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">Myyttinen rationaalisuus</h1>
            <p class="lead">Järjen ja hengen riemuvoitto</p>
            <div class="row text-blog">
                <div class="col">
                    <a href="{% url 'introduction-kaj' %}">
                        <h4>Mythra Kajn mukaan</h4>
                        <p class="text-quote">
                            "Rationaalinen ja myyttinen asennoituminen saattavat vaikuttaa keskenään ristiriitaisilta. Todellisuudessa ne eivät kuitenkaan ole sitä."
                        </p>
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'introduction-lumi' %}">
                        <h4>Mythra Lumin mukaan</h4>
                        <p class="text-quote">
                            "Vaikka ihmiselämät ovatkin ohi kosmisessa silmänräpäyksessä, voi niiden aikana saavuttaa vaikka mitä."
                        </p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url 'introduction-kaj' %}" class="btn btn-md btn-secondary">Lue lisää</a>
                </div>
                <div class="col">
                    <a href="{% url 'introduction-lumi' %}" class="btn btn-md btn-secondary">Lue lisää</a>
                </div>
            </div>
            <p class="lead contact">
                <a href="{% url 'contact' %}" class="btn btn-lg btn-secondary">Ota yhteyttä</a>
            </p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Mythra - winning through reason and magic.</p>
            </div>
        </footer>
    </div>
{% endblock %}
